/* modal-header */
.modal-header {
    background-color: #ededed;
    background-image: linear-gradient(to bottom, #fcfcfc, #dedede);
    border-bottom: 1px solid #cacaca;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
}

/* button */
.oe_systray #oe_topbar_distance_calculator_button_icon {
    color: white;
}
.oe_topbar_item.oe_topbar_distance_calculator_button .oe_e {
    position: relative;
    top: 258px;
}

/* distance */
.distance, .total_distance{
    text-align: right;
}

/* dropdown */
select option:first-child, .not_chosen{
    color: #808080;
    opacity: 1;
}

select option{
    color: #080808;
}
