.oe_systray #oe_topbar_currency_rate_button_icon {
    color: white;
}
.oe_topbar_item.oe_topbar_currency_rate_button .oe_e {
    position: relative;
    top: 258px;
}

.currency_amount{
    text-align: right;
}


.label-info-currency-rate, .btn-money_exchange{
    text-align: center;
}


.img-money_exchange {
    width: 50px;
    height: 50px;
}
